
:root {
  --color-primary-light: #840C85;
  --color-white:#fff;
  --color-grey5:#6a6a7f;
  --color-cyan-blue:#1890ff;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: local("Montserrat-Bold"),
    url(./assets/fonts/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Italic";
  src: local("Montserrat-Italic"),
    url(./assets/fonts/Montserrat-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: local("Montserrat-Regular"),
    url(./assets/fonts/Montserrat-Regular.ttf) format("truetype");
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

p{
  padding: 0px;
  margin: 0px;
}


